#set($title="鲜果味道")
#parse("/WEB-INF/vm/common/head.vm")
<nav class="navbar navbar-default navbar-fixed-top m-component-nav" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header text-center clearfix">
			<a class="navbar-func pull-left" href="/"><span class="glyphicon fdayicon fdayicon-home"></span></a>
				<span class="pull-right navbar-func">
					<a href="/user" class="navbar-login"><span class="glyphicon fdayicon fdayicon-login"></span></a>
					<a href="/cart" class="navbar-cart"><span class="glyphicon fdayicon fdayicon-cart"></span></a>
				</span>
		</div>
	</div>
</nav>

<section class="m-component-category" id="m-category">
	<h4 class="m-category-title">热门品类</h4>
	<h4 class="m-category-title">全部品类</h4>
	<ul class="list-unstyled m-category-list">

		#foreach($!detail in $!list)
            <li>
                <a class="fdayicon" href="http://www.binfenguoyuan.cn/item/list?categoryId=$!detail.categoryId">
                    <i></i>
                    <h5>$!detail.categoryName</h5>
                    <div></div>
                </a>
            </li>
		#end

	</ul>
</section>

#parse("/WEB-INF/vm/common/bottom.vm")