<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="缤纷果园 鲜果味道" name="keywords">
    <title>$!title</title>
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <form class="form-horizontal" style="font-size: 25px">
            <div class="form-group">
                您已经申请领取过奖品。请到鲜果味道实体店，凭微信集赞数量领取相应礼品
            </div>
            <div class="form-group">
                姓名：$!detail.userName
            </div>
            <div class="form-group">
                手机号：$!detail.userMobile
            </div>
        </form>
    </div>
</div>

</body>
</html>